main {
    width: 100%;
    margin: 0px;
    border: 0px;
    padding: 0px;
    text-align: center;
}

table {
    margin: 1px auto
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid #000;
}

th, td {
    padding: 5px;
}

.box{
    height: 10px;
  
  align-items: center;
  justify-content: center;
    padding: 1%;
    border: 5px solid crimson;
    color: crimson;
}
